<!DOCTYPE html>
<html>

<body>

<div>

    {layout name='layout/layout' /}
    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_com.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">教育教学</span>
    </div>
    <div class="comfor_con">
        <div class="top_tit">
            <span class="span1"><a href="comfortable.html">教育教学</a></span><br/>
            <span class="span2">Education and teaching</span>
        </div>
        <div class="com_shi">
            <ul class="wow bounceIn">
                <span class="span1">教育简介</span><br />
                <span class="span2">北海校区的师资主要以本部派遣与自主培养相结合，高起点、高标准。目前在学院授课的教师具有博士学位的教师比例是26%，<br/>
					具有硕士以上学历教师占教师总数80%以上，高级以上职称的占66%，具有丰富的教学、科研经验。院领导兼任各专业负责人，创新教学管理模式，保证教学质量。</span>
            </ul>
        </div>
        <div class="zx_fang">
            <span class="zx_span">教学展示</span>
            <div class="f_da wow bounceIn">
                <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_da1.jpg" alt=""/><i></i></div>
                <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_da2.jpg" alt=""/><i></i></div>
                <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_da3.jpg" alt=""/><i></i></div>
            </div>
            <div class="f_xiao">
                <div>
                    <div class="pic">
                        <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_xiao1.png" alt=""/><i></i>
                    </div>
                    <a href="">教师教资</a>
                </div>
                <div>
                    <div class="pic">
                        <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_xiao2.png" alt=""/><i></i>
                    </div>
                    <a href="">学生课堂</a>

                </div>
                <div>
                    <div class="pic">
                        <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_xiao3.png" alt=""/><i></i>
                    </div>
                    <a href="">师生互动</a>
                </div>
                <div>
                    <div class="pic">
                        <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/fa_xiao1.png" alt=""/><i></i>
                    </div>
                    <a href="">师生互动</a>
                </div>
            </div>
        </div>
    </div>





</div>


</body>
</html>
