<!DOCTYPE html>
<html>

<body>

<div>
    {layout name='layout/layout1' /}

    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_contact.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">联系我们</span>
    </div>
    <div class="contact_con">
        <div class="top_tit">
            <span class="span1"><a href="contact.html">联系我们</a></span><br/>
            <span class="con_span">您好，如您有该网站的相关问题，可直接联系我们！</span>
        </div>
        <div class="nei clearfix">
            <div class="left">
                <a href="mailto:Eason.wang@71360.com"><img
                        src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/email.png" alt=""/>postmaster@haogege.icu</a>
                <a href="tel:021-31265245"><img
                        src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/phone.png" alt=""/>021-31265245</a>
                <a href="tel:189 1610 1908"><img
                        src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/shouji.png" alt=""/>18278966480</a>
                <span> <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/weizhi.png" alt=""/>广西北海银海区南珠大道9号</span>
                <a href="http://map.baidu.com/?newmap" target="_blank" class="ditu"><i class="fa fa-search"></i>查看地图</a>
            </div>
        </div>
    </div>


</div>


</body>
</html>
