<!DOCTYPE html>
<html>

<body>

<div>
    {layout name='layout/layout' /}
    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_yuan.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">校园生活</span>
    </div>
    <div class="travel_con">
        <div class="top_qie">
            <a href="">体育健康</a>
            <a href="" class="active">讲座演出</a>
            <a href="">社团活动</a>
            <a href="">花草园艺</a>
        </div>
        <div class="tra_ul">

            <ul class="clearfix">
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_1.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(一)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_2.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(二)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_3.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(三)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_4.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(四)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_5.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(五)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_6.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(六)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_7.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(七)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_8.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(八)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/think/public/index.php/index/courtTravelShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_9.png" alt="" class="vcenter"/><i></i></a>
                    <a href="/think/public/index.php/index/courtTravelShow">校园生活(九)</a>
                </li>
            </ul>
            <div class="page">
                <a href=""><i class="ye fa fa-backward"></i></a>
                <a href=""><i class="ye fa fa-caret-left"></i></a>
                <a href="" class="active">1</a>
                <a href="" class="">2</a>
                <a href="" class="">3</a>
                <span href="" class="">…</span>
                <a href=""><i class="ye fa fa-caret-right"></i></a>
                <a href=""><i class="ye fa fa-forward"></i></a>
            </div>
        </div>
    </div>




</div>

</body>
</html>
