<!DOCTYPE html>
<html>

<body>

<div>
    {layout name='layout/layout' /}

    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_yuan.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="/index.php/index/index">首页 </a> > <span>校园生活</span>> <span class="active">校园生活(一)</span>
    </div>
    <div class="travel_show">
        <div class="tra_con">
            <div class="top_t">校园生活(一)</div>
            <div class="top_2">
                校 <i>|</i> 园 <i>|</i> 生 <i>|</i> 活 <i>|</i> 阅 <i>|</i> 览
            </div>
            <div class="tu_qie clearfix">
                <div class="left">
                    <div class="pic">
                        <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_1.png" alt="" class="vcenter"/>
                        <i></i>
                    </div>

                </div>

            </div>

            <p>
                一夜秋雨，送来些许凉爽。在这收获的季节，我们十分高兴地迎来了来自全国各地的xx级新同学，首先我代表学院xxx先生，代表院长xxx，代表学院党政领导和全院师生员工，对省军区通信站对我院军训工作的大力支持表示衷心的感谢！对人民军队对高校国防教育工作的积极奉献表示崇高的敬意！对xx级全体新同学的到来表示热烈的欢迎和由衷的祝贺！
            </p>
        </div>

    </div>
    <div class="news_show">
        <div class="s_x clearfix">
            <a href="#" class="s_prev">上一篇</a>
            <a href="#" class="x_next">下一篇</a>
        </div>
    </div>
    <div class="travel_con">
        <div class="xianguan">
            相关图片
        </div>
        <div class="tra_ul">
            <ul class="clearfix">
                <li class="wow bounceIn">
                    <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_1.png" alt=""
                                                     class="vcenter"/><i></i></a>
                    <a href="/index.php/index/courtTravel">校园生活(一)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_2.png" alt=""
                                                     class="vcenter"/><i></i></a>
                    <a href="/index.php/index/courtTravel">校园生活(二)</a>
                </li>
                <li class="wow bounceIn">
                    <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_3.png" alt=""
                                                     class="vcenter"/><i></i></a>
                    <a href="/index.php/index/courtTravel">校园生活(三)</a>
                </li>
            </ul>
        </div>
    </div>
</div>


</div>

</body>
</html>
