<!DOCTYPE html>
<html>

<body>

<div>
    {layout name='layout/layout1' /}

    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_liu.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">留言中心</span>
    </div>
    <div class="feedback_con">
        <div class="top_tit">
            <span class="span1"><a href="feedback.html">留言中心</a></span><br/>
            <span class="con_span">您好，对珍岛有任何疑问都可以给我们留言，我们会尽快回复！</span>
        </div>
        <ul class="liu_ul">
            <li class="clearfix">
                <p class="p1">
                    <span><i>*</i>标题</span><input type="text"/>
                </p>
                <p>
                    <span><i>*</i>姓名</span><input type="text"/>
                </p>
            </li>
            <li class="clearfix">
                <p class="p1"><span><i>*</i>电话</span><input type="text"/></p>
                <p>
                    <span><i>*</i>邮箱</span><input type="text"/>
                </p>
            </li>
            <li>

                <span class="span_nei"><i>*</i>内容</span>
                <textarea name="" rows="7" cols=""></textarea>

            </li>
            <li class="clearfix yan_li">
                <span><i>*</i>验证码</span><input type="text"/>
                <img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/yan.png" alt=""/>
                <a href="" class="yan_no">看不清,换一张?</a>
            </li>
            <li class="btn">
                <a href="">提交</a>
                &nbsp;
                <a href="">重置</a>


            </li>
        </ul>

    </div>




</div>

</body>
</html>
