<!DOCTYPE html>
<html>
<style>
    #video{
        position: absolute;
        left: 50px;
        top: 20px;
        width: 50px;
    }
</style>

<body>
<div>
    {layout name='layout/layout' /}
    <!--banner  start-->
    <img id="video" src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/video_player_icon.png" alt="" onclick="window.location.href='/index.php/index/video'">
    <section class="banner">
        <div><a href="#"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner3.jpg" alt=""></a></div>
        <div><a href="#"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner2.jpg" alt=""></a></div>
        <div><a href="#"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner1.jpg" alt=""></a></div>
    </section>
    <!--banner end-->
    <div class="jqgk">
        <div class="contai">
            <div class="top_tit">
                <span class="span1"><a href="scenic_overview.html">校园概况</a></span><br/>
                <span class="span2">SCENIC OVERVIEW</span>
            </div>
            <p class="wow bounceIn">
                北海校区属桂电的四个校区之一，位于美丽的海滨城市北海市，南珠大道9号，由本部统筹招生、同发校本部毕业证书。<br />
                北海校区设有5个二级学院，在校生15900余人，其中本科生6800余人，专科生9000余人，研究生16人，留学生81人，教职工600多人。硕士专业1个，本科专业10个，高职专业32个，<br/>
                主要集中在机械类、电子类、计算机类、设计类、管理类、外贸   类。<br/>
                北海校区发展定位以应用技术型本科为主，与桂林校区交辉相映。校区占地969（已建成541亩）亩，校舍建筑面积近30万平方米，托管北海市新图书馆，建筑面积4.4万平方米。
            </p>
            <div class="xia_x">
                <span class="img"></span>
            </div>
        </div>
    </div>
    <div class="wyzl">
        <div class="top_tit">
            <span class="span1"><a href="court_travel.html">校园生活</a></span><br/>
            <span class="span2">COURT TRAVEL</span>
        </div>
        <ul class="clearfix">
            <li class="wow bounceIn">
                <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_1.png" alt=""
                                                 class="vcenter"/><i></i></a>
                <a href="/index.php/index/courtTravel">校园生活(一)</a>
            </li>
            <li class="wow bounceIn">
                <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_2.png" alt=""
                                                 class="vcenter"/><i></i></a>
                <a href="/index.php/index/courtTravel">校园生活(二)</a>
            </li>
            <li class="wow bounceIn">
                <a href="/index.php/index/courtTravel"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/home_3.png" alt=""
                                                 class="vcenter"/><i></i></a>
                <a href="/index.php/index/courtTravel">校园生活(三)</a>
            </li>
        </ul>
    </div>
    <!--wyzl end-->
    <div class="syzz">
        <div class="top_tit">
            <span class="span1"><a href="scenic_overview.html">教育教学</a></span><br/>
            <span class="span2">COMFORTABLE RESIDENTIAL</span>
        </div>
        <div class="syzz_con  clearfix">
            <div class="left">
                <div><a href="/index.php/index/comfortable"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/syzz_1.png" alt=""  class="vcenter">
                    <i></i></a></div>
                <div><a href="/index.php/index/comfortable"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/syzz_2.png" alt=""  class="vcenter">
                    <i></i></a></div>
                <div><a href="/index.php/index/comfortable"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/syzz_3.png" alt=""  class="vcenter">
                    <i></i></a></div>
            </div>
            <div class="right">
                <img src="" alt=""/>
                <div class="fang_t">
                    <span>教 |</span>
                    <span>育 |</span>
                    <span>教 |</span>
                    <span>学 |</span>
                    <span>介 |</span>
                    <span>绍</span>
                </div>
                <div class="fang_c">
                    北海校区的师资主要以本部派遣与自主培养相结合，高起点、高标准。
                </div>
                <div class="pr_ne clearfix">
					<span class="pr">
						上一个
					</span>
                    <span class="ne">
						下一个
					</span>
                </div>
            </div>
        </div>
        <div class="xia_x">
            <span class="img"></span>
        </div>
    </div>


</div>



</body>
</html>
