<!DOCTYPE html>
<html>

<body>

<div>
    {layout name='layout/layout1' /}

    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_contact.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">网站地图</span>
    </div>

    <div class="map_con">
        <div class="top_tit">
            <span class="span1"><a href="contact.html">网站地图</a></span><br/>
        </div>
        <div class="w1004">
            <div class="map">
                <dl>
                    <dt><a href="/think/public/index.php/index/map">首页</a></dt>
                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/scenicOverview">校园概况</a></dt>
                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/courtTravel">校园生活</a></dt>
                    <dd>
                        <p class="p2"><a href="/think/public/index.php/index/courtTravel"></a></p>
                        <div>
                            <a href="/think/public/index.php/index/courtTravel">体育健康</a>
                            <a href="/think/public/index.php/index/courtTravel">讲座演出</a>
                            <a href="/think/public/index.php/index/courtTravel">社团活动</a>
                            <a href="/think/public/index.php/index/courtTravel">艺术生活</a>
                        </div>

                    </dd>
                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/comfortable">教育教学</a></dt>
                    <dd>
                        <p class="p2"><a href="/think/public/index.php/index/comfortable"></a></p>
                        <div>
                            <a href="/think/public/index.php/index/comfortable">师资队伍</a>
                            <a href="/think/public/index.php/index/comfortable">教学网</a>
                            <a href="/think/public/index.php/index/comfortable">课表查询</a>
                        </div>

                    </dd>
                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/news">新闻动态</a></dt>
                    <dd>
                        <div>
                            <a href="/think/public/index.php/index/news">校园新闻</a><a href=""></a>
                            <a href="/think/public/index.php/index/news">专业新闻</a><a href=""></a>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/feedback">留言中心</a></dt>

                </dl>
                <dl>
                    <dt><a href="/think/public/index.php/index/contact">联系我们</a></dt>

                </dl>
            </div>
        </div>
    </div>
</div>


</body>
</html>
