<!DOCTYPE html>
<html>
<
<body>

<div>
    {layout name='layout/layout1' /}
    <!--banner  start-->
    <section class="banner_zi">
        <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_new.png" alt=""></div>
    </section>
    <!--banner end-->
    <div class="head_bar">
        <span>位置：</span><a href="index.html">首页 </a> > <span class="active">新闻动态</span>
    </div>

    <div class="news_zi">
        <div class="top_qie">
            <a href="">校园新闻</a>
            <a href="" class="active">专业新闻</a>
        </div>
        <ul class="news_zi_ul">
            <li class="clearfix">
                <div class="news_left clearfix">
                    <div class="pic">
                        <a href="/think/public/index.php/index/newsShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/news1.png" alt=""/></a>
                        <i></i>
                    </div>
                    <div class="txt">
                        <a href="/think/public/index.php/index/newsShow">北海校区学子获评北海市优秀红十字志愿者</a>
                        <p>
                            近日，北海市红十字会评选2018-2019年度北海市优秀红十字志愿者结果出炉，北海校区海风志愿者服务队红十字分队干部陈雨翠同学获得“北海市优秀红十字志愿者”荣誉称号。
                            据悉，北海校区积极组织和参与志愿者活动，在师生中弘扬“人道、博爱、奉献”的红十字精神和志愿服务精神。校区2019年组织了三场无偿献血活动，其中11月份的献血活动中，920名师生总计献血量305150毫升，刷新北海市团体单位单次献血的新纪录。
                            （供稿：黄玉凤  审稿：林佩静）
                        </p>
                    </div>
                </div>
                <div class="news_right">
                    <span>06.18</span>
                    <time>2020</time>
                </div>
            </li>
            <li class="clearfix">
                <div class="news_left clearfix">
                    <div class="pic">
                        <a href="/think/public/index.php/index/newsShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/news2.png" alt=""/></a>
                        <i></i>
                    </div>
                    <div class="txt">
                        <a href="/think/public/index.php/index/newsShow">北海校区召开纪检监察干部会议</a>
                        <p>

                            6月16日上午，北海校区在2506会议室组织召开纪检监察干部会议。北海校区纪委书记杨春梅，校区纪委委员，校区各党总支、直属党支部纪检委员，机关各党支部纪检委员参加了会议。会议由杨春梅同志主持。
                            会上，杨书记传达了习近平总书记在十九届中央纪委四次全会上的重要讲话精神、十九届中央纪委四次全会精神和自治区纪委十一届六次全会精神，以及学校2020年纪检监察工作要点的主要内容。
                            杨书记重点结合北海校区2020年度纪检监察工作计划，从守住初心使命做好“两个维护”、全力保障校区新冠肺炎疫情防控、加强校区廉政风险防控常态化建设、加强校区制度执行监督、强化廉洁文化宣传教育、
                            持之以恒开展作风建设、做好信访核查和正风肃纪工作、加强校区纪检监察干部队伍建设等八个方面，对校区2020年的纪检监察工作进行了详细的解读，并对校区纪检监察工作的开展提出了具体明确的要求。杨书记强调，
                            校区纪检监察干部要加强政治和业务学习，以身作则，加强对所在单位、部门业务的日常监督，将业务部门的自我监督工作落细落实，切实履行好纪检监察干部的职责，共建风清气正的廉洁校园。
                            （供稿：蓝庆娜  审稿：林佩静）
                        </p>
                    </div>
                </div>
                <div class="news_right">
                    <span>06.16</span>
                    <time>2020</time>
                </div>
            </li>
            <li class="clearfix">
                <div class="news_left clearfix">
                    <div class="pic">
                        <a href="/think/public/index.php/index/newsShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/news3.png" alt=""/></a>
                        <i></i>
                    </div>
                    <div class="txt">
                        <a href="/think/public/index.php/index/newsShow">北海校区开展2020年西部计划志愿者选拔工作</a>
                        <p>
                            为做好2020年西部计划志愿者的招募工作，6月15日，北海校区在综合楼307办公室举行西部计划网络面试，校区团委书记莫绍媛、各学院教师代表担任评委。
                            此次西部计划志愿者的招募活动经过了个人网上申报、学院考察推荐、校区团委审核、心理测试等环节，最终进入面试环节。面试共分个人陈述、评委提问，综合考察等环节。
                            面试过程中评委就候选人的综合素质、家庭情况和对西部计划的认识等方面对学生进行全面考察。同学们也从自己对西部计划的认识及报名动机等多个方面表达了自己的想法，
                            都希望能够通过西部计划为祖国西部的发展贡献自己的一份力量。此次面试充分体现了北海校区学子积极响应国家号召、投身西部建设的热情。
                            据悉，北海校区共有153名本科生报名2020年西部计划志愿者，本次共有12名同学进入面试，将推选出2名同学参与西部计划。期待他们以青春梦想和实际行动，为实现中华民族伟大复兴的中国梦而做出贡献。
                            （供稿：黄玉凤  审稿：林佩静）
                        </p>
                    </div>
                </div>
                <div class="news_right">
                    <span>06.15</span>
                    <time>2020</time>
                </div>
            </li>
            <li class="clearfix">
                <div class="news_left clearfix">
                    <div class="pic">
                        <a href="/think/public/index.php/index/newsShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/news4.png" alt=""/></a>
                        <i></i>
                    </div>
                    <div class="txt">
                        <a href="/think/public/index.php/index/newsShow">北海校区召开研究生党员座谈会</a>
                        <p>
                            6月12日上午，北海校区在桂林金鸡岭校区7603会议室召开全体研究生党员座谈会。学校校长助理、北海校区校长、校区党委副书记陈名松出席了座谈会。北海校区常务副校长、党委委员王鑫，北海校区副校长、党委委员于
                            新华等校区领导以及北海校区研究生工作相关单位、部门负责人参加了座谈。座谈会由于新华同志主持。
                            座谈会在民主、祥和、温馨的氛围中展开。研究生党员围绕党支部建设、课程建设、研究生培养和管理等方面的工作充分发表了意见和建议。与会的相关单位负责人针对同学们提出的问题进行了解答并给出了相关解决方案。
                            陈名松校长代表校区对同学们进行了亲切问候和美好祝愿，就生活和学习上的各项具体问题与同学们进行了深入交流，要求校区相关部门将同学们反映的问题逐项梳理、分析，尽快研讨、汇报，制定出具体方案予以解决。
                            （供稿：覃琴  审稿：林佩静）
                        </p>
                    </div>
                </div>
                <div class="news_right">
                    <span>06.15</span>
                    <time>2020</time>
                </div>
            </li>
            <li class="clearfix">
                <div class="news_left clearfix">
                    <div class="pic">
                        <a href="/think/public/index.php/index/newsShow"><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/news5.png" alt=""/></a>
                        <i></i>
                    </div>
                    <div class="txt">
                        <a href="/think/public/index.php/index/newsShow">广西壮族自治区新型冠状病毒感染的肺炎疫情防控工作领导小组指挥部关于印发广西公众科学戴口罩指引（修订版）的通知</a>
                        <p>
                            各市、县新冠肺炎疫情防控指挥部，区直、中直各单位：

                            为统筹推进我区常态化疫情防控和经济社会发展，根据国务院应对新冠肺炎疫情联防联控机制综合组《公众科学戴口罩指引（修订版）》等有关精神，我们组织编制了《广西公众科学戴口罩指引（修订版）》。现印发给你们，请参照执行。



                            2020 年 6 月 9 日





                            广西公众科学戴口罩指引（修订版）

                            为统筹推进我区常态化疫情防控和经济社会发展，根据国务院应对新冠肺炎疫情联防联控机制综合组《公众科学戴口罩指引（修订版）》等有关精神，编制本指引。

                            一、普通公众

                            （一）居家。

                            防护建议：无需戴口罩。

                            （二）户外、公园。

                            防护建议：建议随身准备一次性使用医用口罩或医用外科口罩，保持 1 米以上社交安全距离，无需戴口罩。

                            （三）交通工具。

                            防护建议：骑车、自驾车时，无需戴口罩；乘坐公交、地铁、长途汽车、火车、轮船、飞机等公共交通工具时，戴一次性使用医用口罩或医用外科口罩。

                            （四）公共场所。

                            1．超市、商场、餐厅、展馆/博物馆、体育馆/健身房等场所。防护建议：公众需随身准备一次性使用医用口罩或医用外科口罩。在无人员聚集、通风良好、保持 1 米以上社交安全距离情况下，无需戴口罩。

                            2．剧场、影剧院、地下或相对封闭购物场所、网吧及乘坐厢式电梯等通风不良的公共场所。防护建议：戴一次性使用医用口罩或医用外科口罩。



                            （五）会议室。

                            防护建议：确保有效通风换气，保持人员 1 米以上社交安全距离情况下，无需戴口罩。

                            二、特定场所人员

                            （一）办公场所及厂房车间人员。防护建议：确保有效通风换气，作业岗位工作人员保持 1米以上安全距离情况下，无需戴口罩。

                            （二）公共场所服务人员。如商店、公共交通工具、餐馆、食堂、旅馆、单位社区进出口、企业前台等场所工作服务人员。防护建议：戴一次性使用医用口罩或医用外科口罩。

                            （三）校园内人员。

                            1．托幼机构人员。防护建议：因幼儿特殊生理特征，不建议戴口罩。托幼机构教师、值守人员、清洁人员及食堂等工作人员，戴一次性使用医用口罩或医用外科口罩。

                            2．中小学校人员。防护建议：需随身准备一次性使用医用口罩或医用外科口罩。在校园内，学生和授课老师无需戴口罩；学校进出值守人员、清洁人员及食堂工作人员等服务人员，戴一次性使用医用口罩或医用外科口罩。

                            3．大中院校人员。防护建议：确保有效通风换气、保持 1米以上安全距离情况下，教职员工和学生无需戴口罩；在封闭、人员密集或与他人近距离接触（小于或等于 1 米）时，需戴口罩；学校进出值守人员、清洁人员及食堂工作人员等服务人员，戴一次性使用医用口罩或医用外科口罩。

                            （四）医院就诊、探视或陪护人员。防护建议：戴一次性使用医用口罩或医用外科口罩。

                            （五）养老院、福利院、监狱和精神卫生机构人员。防护建议：此类机构内人员无需戴口罩；外来人员、提供服务的工作人员戴一次性使用医用口罩或医用外科口罩。

                            三、重点人员

                            （一）发热、咳嗽等症状人员。防护建议：戴医用外科口罩或无呼吸阀符合 KN95/N95 级别或以上级别的防护口罩。

                            （二）严重心肺疾病患者和婴幼儿。防护建议：严重心肺疾病患者，在医生指导下戴口罩。3 岁以下婴幼儿，不戴口罩。

                            四、使用注意事项

                            （一）如佩戴口罩感觉胸闷、气短等不适时，应立即前往户外开放场所，摘除口罩。

                            （二）废弃口罩归为其他垃圾进行处理，医疗卫生机构、人员密集场所工作人员或其他可疑污染的废弃口罩，需单独存放，并按有害垃圾进行处理。
                        </p>
                    </div>
                </div>
                <div class="news_right">
                    <span>06.11</span>
                    <time>2020</time>
                </div>
            </li>
        </ul>
        <div class="page">
            <a href=""><i class="ye fa fa-backward"></i></a>
            <a href=""><i class="ye fa fa-caret-left"></i></a>
            <a href="" class="active">1</a>
            <a href="" class="">2</a>
            <a href="" class="">3</a>
            <span href="" class="">…</span>
            <a href=""><i class="ye fa fa-caret-right"></i></a>
            <a href=""><i class="ye fa fa-forward"></i></a>
        </div>
    </div>


</div>

</body>
</html>
