<!DOCTYPE html>
<html>

<body>
	
<div>
	{layout name='layout/layout1' /}
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="https://phpserver.oss-cn-beijing.aliyuncs.com/guet_web/images/banner_new.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="index.html">首页 </a> > <a href="news.html">新闻动态</a> > <span class="active">北海校区学子获评北海市优秀红十字志愿者</span>
	</div>
	<div class="news_show">
		<span class="show_t">北海校区学子获评北海市优秀红十字志愿者</span>
		<span class="fa_time">来源： 作者： 日期：2020年06月18日 09:45 浏览：99</span>
		<p>
			近日，北海市红十字会评选2018-2019年度北海市优秀红十字志愿者结果出炉，北海校区海风志愿者服务队红十字分队干部陈雨翠同学获得“北海市优秀红十字志愿者”荣誉称号。
		</p>

		<p>
			据悉，北海校区积极组织和参与志愿者活动，在师生中弘扬“人道、博爱、奉献”的红十字精神和志愿服务精神。校区2019年组织了三场无偿献血活动，其中11月份的献血活动中，920名师生总计献血量305150毫升，刷新北海市团体单位单次献血的新纪录。	</p>
		<p>
			（供稿：黄玉凤  审稿：林佩静）
		</p>
		<div class="s_x clearfix">
			<a href="" class="s_prev">上一篇</a>
			<a href="" class="x_next">下一篇</a>
		</div>
	</div>



	



</body>
</html>
